---
import Title from "../Title.astro";
import { Image } from 'astro:assets';

import barco  from "../../../public/products/barco.jpg";
import casaPropria  from "../../../public/products/casa_propria.jpg";
import casamento  from "../../../public/products/casamento.jpg";
import procedimentosEsteticos  from "../../../public/products/procedimentos_esteticos.jpg";
import renovarFrota  from "../../../public/products/renovar_frota.jpg";
import silosEGalpoes  from "../../../public/products/silos_galpoes.jpg";
import terreno  from "../../../public/products/terreno.jpg";
import veiculo  from "../../../public/products/veiculo.jpg";
import viagem  from "../../../public/products/viagem.jpg";
---

<section id="products">
  <Title title="Produtos"/>
  <p class="text-slate-400 font-semibold indent-4 mb-8">Possui dúvidas sobre algum produto? Clique no botão para conversar sobre comigo.</p>

  <div class="grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-2 gap-y-8 max-sm:gap-y-4 font-Poppins">
    <div>
     <div class="flex items-center justify-between p-2 max-[2300px]:w-full w-[720px]">
        <p class="text-white text-xl font-bold">Casa própria</p>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=555584319556" class="bg-white p-2 rounded-md text-red-500 font-bold hover:scale-105 duration-150">
          Conhecer
        </a>
     </div>

      <Image src={casaPropria} alt="Consórcio de casa própria" class="rounded-md" />
    </div>
    <div>
      <div class="flex items-center justify-between p-2 max-[2300px]:w-full w-[720px]">
        <p class="text-white text-xl font-bold">Veículo</p>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=555584319556" class="bg-white p-2 rounded-md text-red-500 font-bold hover:scale-105 duration-150">
          Conhecer
        </a>
       </div>

      <Image src={veiculo} alt="Consórcio de veículos" class="rounded-md" />
    </div>
    <div>
      <div class="flex items-center justify-between p-2 max-[2300px]:w-full w-[720px]">
        <p class="text-white text-xl font-bold">Viagem</p>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=555584319556" class="bg-white p-2 rounded-md text-red-500 font-bold hover:scale-105 duration-150">
          Conhecer
        </a>
       </div>

      <Image src={viagem} alt="Consórcio de viagens" class="rounded-md" />
    </div>
    <div>
      <div class="flex items-center justify-between p-2 max-[2300px]:w-full w-[720px]">
        <p class="text-white text-xl font-bold">Estética</p>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=555584319556" class="bg-white p-2 rounded-md text-red-500 font-bold hover:scale-105 duration-150">
          Conhecer
        </a>
       </div>

      <Image src={procedimentosEsteticos} alt="Consórcio para procedimentos estéticos" class="rounded-md" />
    </div>
    <div>
      <div class="flex items-center justify-between p-2 max-[2300px]:w-full w-[720px]">
        <p class="text-white text-xl font-bold">Máquinas</p>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=555584319556" class="bg-white p-2 rounded-md text-red-500 font-bold hover:scale-105 duration-150">
          Conhecer
        </a>
       </div>

      <Image src={renovarFrota} alt="Consórcio de máquinas agrícolas" class="rounded-md" />
    </div>
    <div>
      <div class="flex items-center justify-between p-2 max-[2300px]:w-full w-[720px]">
        <p class="text-white text-xl font-bold">Silos e Galpões</p>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=555584319556" class="bg-white p-2 rounded-md text-red-500 font-bold hover:scale-105 duration-150">
          Conhecer
        </a>
       </div>

      <Image src={silosEGalpoes} alt="Consórcio de silos e galpões" class="rounded-md" />
    </div>
    <div>
      <div class="flex items-center justify-between p-2 max-[2300px]:w-full w-[720px]">
        <p class="text-white text-xl font-bold">Terreno</p>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=555584319556" class="bg-white p-2 rounded-md text-red-500 font-bold hover:scale-105 duration-150">
          Conhecer
        </a>
       </div>

      <Image src={terreno} alt="Consórcio para terrenos" class="rounded-md" />
    </div>
    <div>
      <div class="flex items-center justify-between p-2 max-[2300px]:w-full w-[720px]">
        <p class="text-white text-xl font-bold">Casamento</p>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=555584319556" class="bg-white p-2 rounded-md text-red-500 font-bold hover:scale-105 duration-150">
          Conhecer
        </a>
       </div>

      <Image src={casamento} alt="Consórcio para casamento" class="rounded-md" />
    </div>
    <div>
      <div class="flex items-center justify-between p-2 max-[2300px]:w-full w-[720px]">
        <p class="text-white text-xl font-bold">Barco</p>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=555584319556" class="bg-white p-2 rounded-md text-red-500 font-bold hover:scale-105 duration-150">
          Conhecer
        </a>
       </div>

      <Image src={barco} alt="Consórcio para barco" class="rounded-md" />
    </div>
  </div>
</section>