---
import Title from "../Title.astro";
import { Image } from 'astro:assets';

import Product from "../utils/Product.astro";

import barco  from "../../../public/products/barco.jpg";
import casaPropria  from "../../../public/products/casa_propria.jpg";
import casamento  from "../../../public/products/casamento.jpg";
import procedimentosEsteticos  from "../../../public/products/procedimentos_esteticos.jpg";
import renovarFrota  from "../../../public/products/renovar_frota.jpg";
import silosEGalpoes  from "../../../public/products/silos_galpoes.jpg";
import terreno  from "../../../public/products/terreno.jpg";
import veiculo  from "../../../public/products/veiculo.jpg";
import viagem  from "../../../public/products/viagem.jpg";
---

<section id="products">
  <Title title="Produtos"/>
  <p class="text-slate-400 font-semibold indent-4 mb-8">Possui dúvidas sobre algum produto? Clique no botão para conversar sobre comigo.</p>

  <div class="grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-2 gap-y-8 max-sm:gap-y-4 font-Poppins">
    <div>
      <Product text="Casa própria" />
      <Image src={casaPropria} alt="Consórcio de casa própria" class="rounded-md" />
    </div>
    <div>
      <Product text="Veículo" />
      <Image src={veiculo} alt="Consórcio de veículos" class="rounded-md" />
    </div>
    <div>
      <Product text="Viagem" />
      <Image src={viagem} alt="Consórcio de viagens" class="rounded-md" />
    </div>
    <div>
      <Product text="Estética" />
      <Image src={procedimentosEsteticos} alt="Consórcio para procedimentos estéticos" class="rounded-md" />
    </div>
    <div>
      <Product text="Máquinas" />
      <Image src={renovarFrota} alt="Consórcio de máquinas agrícolas" class="rounded-md" />
    </div>
    <div>
      <Product text="Silos e Galpões" />
      <Image src={silosEGalpoes} alt="Consórcio de silos e galpões" class="rounded-md" />
    </div>
    <div>
      <Product text="Terreno" />
      <Image src={terreno} alt="Consórcio para terrenos" class="rounded-md" />
    </div>
    <div>
      <Product text="Casamento" />
      <Image src={casamento} alt="Consórcio para casamento" class="rounded-md" />
    </div>
    <div>
      <Product text="Barco" />
      <Image src={barco} alt="Consórcio para barco" class="rounded-md" />
    </div>
  </div>
</section>